#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.time {
  padding-bottom: 15px;
}

.result-table th, .result-table td {
  padding: 5px 20px;
}

.App {
  text-align: center;
  padding: 20px;
}

.file-input {
  margin: auto;
  padding-bottom: 30px;
}

.selected-image {
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.classify-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.result {
  text-align: left;
  margin-top: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
